<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <listener>
    <listener-class>
         	StartupAppListner    
        </listener-class>
  </listener>

  
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterPage</servlet-name>
    <servlet-class>RegisterPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterPage</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TrendingPage</servlet-name>
    <servlet-class>TrendingPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrendingPage</servlet-name>
    <url-pattern>/trending</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SelectProduct</servlet-name>
    <servlet-class>SelectProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProduct</servlet-name>
    <url-pattern>/myaccount/salesman/addorders</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>OrderCheckoutPage</servlet-name>
    <servlet-class>OrderCheckoutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderCheckoutPage</servlet-name>
    <url-pattern>/myaccount/salesman/checkoutorder</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>AnalyticsResultPage</servlet-name>
    <servlet-class>AnalyticsResultPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyticsResultPage</servlet-name>
    <url-pattern>/analytics/result</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AnalyticsInputPage</servlet-name>
    <servlet-class>AnalyticsInputPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalyticsInputPage</servlet-name>
    <url-pattern>/analytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <servlet-class>HomePage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>ViewReviewPage</servlet-name>
    <servlet-class>ViewReviewPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewPage</servlet-name>
    <url-pattern>/viewreview</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/myaccount/storemanager/products</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OfferWarranty</servlet-name>
    <servlet-class>OfferWarranty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfferWarranty</servlet-name>
    <url-pattern>/myaccount/retailer/offer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyAccount</servlet-name>
    <servlet-class>MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccount</servlet-name>
    <url-pattern>/myaccount/retailer</url-pattern>
    <url-pattern>/myaccount/customer</url-pattern>
    <url-pattern>/myaccount/salesman</url-pattern>
    <url-pattern>/myaccount/storemanager</url-pattern>
    <url-pattern>/myaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartPage</servlet-name>
    <servlet-class>CartPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartPage</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PreviewPage</servlet-name>
    <servlet-class>PreviewPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewPage</servlet-name>
    <url-pattern>/preview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReviewPage</servlet-name>
    <servlet-class>ReviewPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPage</servlet-name>
    <url-pattern>/review</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderPage</servlet-name>
    <servlet-class>OrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderPage</servlet-name>
    <url-pattern>/myaccount/salesman/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustOrderPage</servlet-name>
    <servlet-class>CustOrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustOrderPage</servlet-name>
    <url-pattern>/myaccount/customer/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustTrackOrderPage</servlet-name>
    <servlet-class>CustTrackOrderPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustTrackOrderPage</servlet-name>
    <url-pattern>/myaccount/customer/orders/track</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/myaccount/salesman/createuser</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
</web-app>